*.mgf
*.lib~mips
mips/elaboration.log
mips/mips.LIB
mips/compile
mips/log
mips/mips.wsp
mips/stimulators.set
MultiCycle.wsw
mips/mips.wsp
mips/compilation.order
mips/compile.cfg
mips/mips.adf
mips/compilation.order
mips/src/wave.asdbw
mips/src/wave.asdb
mips/mips.LIB